# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/

# Environment
.env
backend/.env
frontend/.env

# Data & models
# backend/data/vectorstore/
backend/data/raw/*.json
*.pkl

# Frontend
frontend/node_modules/
frontend/dist/

# Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.DS_Store


